/lab-1/mysql_data
/lab-1/wordpress_data
.idea
!/lab-1/wordpress_data/wp-content/plugins/NewlyAddedPostHighliter
!/lab-1/wordpress_data/wp-content/plugins/NewlyAddedPostHighliter/*
!/lab-1/wordpress_data/wp-content/plugins/AnnouncementBeforePost
!/lab-1/wordpress_data/wp-content/plugins/AnnouncementBeforePost/*