@import "styles"

.quote-container
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  box-shadow: $box-shadow-lg
  background-color: $secondary-color
  padding: 20px

.quote-text
  font-family: cursive
  color: white
  font-size: $base-text-size + 10

.author-text
  @extend %text-style
  color: white
  font-size: $base-text-size
  width: 100vh
  text-align: end
  margin-right: 50px